body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffffff;
}

.logo-link {
  font-family: "Raleway", sans-serif;
  font: weight 800px;
  font: size 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  text-decoration: none;
}

.link {
  text-decoration: none;
}

.studio {
  color: #2e2f42;
}

.list {
  list-style: none;
}

.item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.logo-link:hover {
  color: #404bbf;
}

.logo-link:focus {
  color: #404bbf;
}

.contact-list {
  font-style: normal;
  list-style: none;
}

.email-info {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.link:hover {
  color: #404bbf;
}

.link:focus {
  color: #404bbf;
}

.first-section {
  background-color: #2e2f42;
}

.title-section {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02;
  color: #ffffff;
}

.button-class {
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
}

.button-class:hover {
  background-color: #404bbf;
}

.button-class:focus {
  background-color: #404bbf;
}

.title-second-section {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.paragraf-second-section {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.fist-app {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.first-paragraph-app {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.title-third-section {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  list-style: none;
}

.button-main {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #4d5ae5;
  background-color: #f4f4fd;
  cursor: pointer;
}

.button-main:hover {
  color: #ffffffff;
  background-color: #404bbf;
}

.button-main:focus {
  color: #ffffffff;
  color: #404bbf;
}

.title-main-section {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.paragraph-main-section {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434454;
}

.ftr {
  background-color:#2e2f42;
}

.logo-class {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

:root {
  --culoare-primara: #42a5f5;
  --culoare-secundara: #ff1744;
}

.logo-text {
  color:#f4f4f4fd;
}
  
